.wrapperFlex {
    display: flex; 
    /*Retour à la ligne si plus de place*/
    flex-wrap: wrap;
}

.header{
    flex-wrap: wrap;
}

.map {
    /*vh : unité viewport/height */
    height: 80vh;
    /*le poids de la classe*/
    flex-grow: 2;
    /*base de calcul pour le grow (et le shrink) pour calculer l'espace restant*/
    flex-basis: 75%;
    order: 1;
    /*width: 75%;*/
}

.map:-moz-full-screen {
    height: 100%;
    width: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
    width: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
    width: 100%;
}
.map:fullscreen {
    height: 100%;
    width: 100%;
}

.sidepanel {
    flex: 1 25%;
    order: 2;
    /*width: 25%;*/
    background-color:#9fff80;
    color: white;
}

.footer {
    order: 3;
}

.notAContent {
    height: 50px;
    width: 100%;
    background-color:#ffcc80;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

@media (max-width: 500px){
    .header{
        flex-direction: column;
        height: auto;
    }
}
